*
{
    box-sizing: border-box;
}

body
{
    background-image: url("http://traversymedia.com/downloads/assets/beachshowcase.jpg");
    width: 1920px;
    height: 1000px;
    background-position:bottom;
    background-size:cover;
    text-align: center;
}



h1{
    padding-top: 15%;
    font-size: 4em;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(122, 75, 75);
}

header:first-child>p
{
    font-size: x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(122, 75, 75);
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

.button
{
    text-decoration: none;
    border: solid 1px black;
    border-radius: 5px;
    padding: 15px 25px;
    color: rgb(116, 70, 40);
}
.button:hover
{
    color: white;
    background-color: rgb(116, 70, 40);
}

main>p:first-child{
    margin-top:500px;
    background-color: rgb(116, 70, 40);
    color:white;
    border: brown 1px;
    padding: 20px 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main>p:nth-child(2){
    background-color: rgb(255, 255, 255);
    color:rgb(116, 70, 40);
    border: brown 1px;
    padding: 20px 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section
{
    font-size: 0px;
    margin-left: 0px;
    width: 1920px;
    height:120px;
    position: absolute;
    left: 0px;
}
section>.lastRow
{
    display: inline-block;
    width: 33.32%;
    height: 100%;
    font-size: 16px;
    margin-left: 0px;
    padding-top:25px;
    
}



main>section>:nth-child(1n)
{
    background-color: rgb(116, 70, 40);
    color:white;
}
main>section>:nth-child(2n)
{
    background-color: rgb(255, 255, 255);
    color:rgb(116, 70, 40);
}